.container-header{display:flex;margin:2rem 1rem 1rem 2rem;align-items:center;justify-content: space-between;}
.container-header-img img{width:4rem}
.container-body{padding:0 3rem;}
::ng-deep mat-icon{cursor:pointer;}

@media(max-width:900px) {
  .container-body{padding:0 1rem;}
}
