<div class="container-header">
  <div class="container-header-img">
    <img src="assets/img/logo.jpg">
  </div>
  <div class="container-header-form">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="icon-color">g_translate</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="setLanguage('es')"><span>{{'LABELS.ES' | translate}}</span></button>
      <button mat-menu-item (click)="setLanguage('en')"><span>{{'LABELS.EN' | translate}}</span></button>
    </mat-menu>
    <button mat-raised-button color="primary" (click)="logout()">{{'BUTTONS.LOGOUT' | translate}}</button>
  </div>
</div>
<div class="container-body">
  <app-user *ngIf="role === 'user'"></app-user>
  <app-administrator *ngIf="role === 'admin'"></app-administrator>
</div>
