<form novalidate [formGroup]="formRegister">
  <div class="container-header">
    <div class="container-header-img">
      <img class="bread-back" src="assets/img/background.jpg" style="width: 100%">
    </div>
    <div class="container-header-form">
      <img src="assets/img/logo.jpg">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'LABELS.NAME' | translate }}</mat-label>
        <input type="text" maxlength="30" matInput formControlName="name" placeholder="{{ 'LABELS.NAME' | translate }}">
        <mat-error *ngIf="formRegister.controls.name.hasError('required')">
          {{'ERRORS.OBLIGATORY_FIELD' | translate}}
        </mat-error>
        <mat-error *ngIf="formRegister.controls.name.hasError('pattern')">
          El campo acepta solo letras
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ 'LABELS.LAST_NAME' | translate }}</mat-label>
        <input type="text" maxlength="30" matInput formControlName="lastName" placeholder="{{ 'LABELS.LAST_NAME' | translate }}">
        <mat-error *ngIf="formRegister.controls.lastName.hasError('required')">
          {{'ERRORS.OBLIGATORY_FIELD' | translate}}
        </mat-error>
        <mat-error *ngIf="formRegister.controls.lastName.hasError('pattern')">
          El campo acepta solo letras
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ 'LABELS.EMAIL' | translate}}</mat-label>
        <input type="email" matInput formControlName="email" placeholder="{{ 'LABELS.EMAIL' | translate}}">
        <mat-error *ngIf="formRegister.controls.email.hasError('pattern')">
          {{'ERRORS.USER_FORMAT' | translate}}
        </mat-error>
        <mat-error *ngIf="formRegister.controls.email.hasError('required')">
          {{'ERRORS.USER_REQUIRED' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ 'LABELS.PHONE' | translate }}</mat-label>
        <input type="text" maxlength="10" matInput formControlName="phone" placeholder="{{ 'LABELS.PHONE' | translate }}">
        <mat-error *ngIf="formRegister.controls.phone.hasError('required')">
          {{'ERRORS.OBLIGATORY_FIELD' | translate}}
        </mat-error>
        <mat-error *ngIf="formRegister.controls.phone.hasError('pattern')">
          El campo acepta solo números
        </mat-error>
        <mat-error *ngIf="formRegister.controls.phone.hasError('minlength')">
          El número de telefono debe tener mínimo 7 digitos
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{'LABELS.PASSWORD' | translate}}</mat-label>
        <input type="password" matInput formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="formRegister.controls.password.hasError('required')">
          {{'ERRORS.PASSWORD_REQUIRED' | translate}}
        </mat-error>
        <mat-error *ngIf="formRegister.controls.password.hasError('minlength')">
          {{'ERRORS.PASSWORD_PATTERN' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{'LABELS.CONFIRM_PASSWORD' | translate}} *</mat-label>
        <input formControlName="confirmPassword" type="password"  matInput [type]="hideConfirm ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
          <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="formRegister.controls.confirmPassword.hasError('required')">
          {{'ERRORS.PASSWORD_REQUIRED' | translate}}
        </mat-error>
        <mat-error *ngIf="formRegister.controls.confirmPassword.hasError('minlength')">
          {{'ERRORS.PASSWORD_PATTERN' | translate}}
        </mat-error>
        <mat-error *ngIf="formRegister.controls.confirmPassword.hasError('matching')">
          {{'ERRORS.PASSWORD_COINCIDE' | translate}}
        </mat-error>
      </mat-form-field>

      <div class="container-header-button">
        <button  mat-raised-button (click)="goToLogin()">
          {{ 'BUTTONS.RETURN' | translate}}
        </button>
        <button  mat-raised-button color="primary" [disabled]="formRegister.invalid" (click)="register()">
          {{ 'BUTTONS.REGISTER' | translate}}
        </button>
      </div>
    </div>
  </div>
</form>

