<mat-card *ngFor="let order of orderList">
  <div class="order-header">
    <mat-card-title>{{ 'LABELS.ORDER' | translate }} Nº {{order.orderId}}</mat-card-title>
    <span class="status {{getStatusOrder(order.status)}}">
      {{ 'LABELS.' + getStatusOrder(order.status) | translate}}
    </span>
  </div>
  <mat-card-subtitle>
    {{ 'LABELS.CREATION_DATE' | translate}}: {{ order.orderDate.substring(0 , order.orderDate.length - 5) }} /
    {{ 'LABELS.PICK_UP_DATE' | translate}}: {{ order.pickUpTime.substring(0 , order.pickUpTime.length - 5) }}
  </mat-card-subtitle>
  <mat-card-content>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'LABELS.PRODUCTS' | translate }}:
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="order.products" *ngIf="order.products.data.length > 0">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>{{ 'LABELS.IMAGE' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <img *ngIf="element.image" src="{{element.image}}"/></td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{ 'LABELS.NAME' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>{{ 'LABELS.CATEGORY' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{element.category}}</td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>{{ 'LABELS.QUANTITY' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
        </ng-container>
        <ng-container matColumnDef="totalAmount">
          <th mat-header-cell *matHeaderCellDef>{{ 'LABELS.TOTAL' | translate }}</th>
          <td mat-cell *matCellDef="let element">$ {{element.totalAmount}} COP</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-expansion-panel>
  </mat-card-content>
  <mat-card-actions align="end">
    <button *ngIf="role === 0 && order.status === 0" (click)="updateOrder(order.orderId, 2)" color="warn" mat-button>
      {{ 'BUTTONS.CANCEL' | translate }}
    </button>
    <button *ngIf="role === 1 && order.status === 0" (click)="updateOrder(order.orderId, 1)" color="primary" mat-button>
      {{ 'BUTTONS.DELIVERED' | translate }}
    </button>
    <button *ngIf="role === 1 && order.status === 0" (click)="updateOrder(order.orderId, 2)" color="warn" mat-button>
      {{ 'BUTTONS.CANCEL' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
